.or-all{width: 100%;height: 100%;position: absolute;overflow: scroll;padding-bottom: 30px; z-index: 100}
.or-head{width: 100%;height: 94px;background: white; position: fixed;top: 0px; z-index: 2;}
.or-head li{float: left; width: 33.33%; text-align: center; font-size: 28px;    color: #353535;    letter-spacing: 0;}
.or-bottom{ display: inline-block; width:170px; height: 94px; line-height: 94px;border-bottom: none;}
.or-bottom2{border-bottom: #1890FF solid 6px; }
.or-wait,.or-finish{width: 94.7%; height: 311px; background: #FFFFFF; padding-top: 4.4%;   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.04);    border-radius: 8px;margin: 0 auto; margin-top: 3%;padding-left: 4%;padding-right: 4%}
.or-car-left{float: left;font-size: 34px;    color: #111111; }
.or-car-right{float: right;font-size: 34px;    color: #E64340; margin-left: 15px;}
.or-car-right2{  color: #C7C7C7 ;float: right;font-size: 34px;    ; margin-left: 15px;}
.or-car-right img{width: 20px; height: 29px;}
.or-car-right img,.or-car-right2 img{ position:relative; top: -1px;}
.or-car-mes2{padding-top: 30px !important;}
.or-car-mes{clear: both;font-size: 26px;    color: #888888; padding-top: 25px;letter-spacing:1px;}
.or-left{float: left}
.or-right{float: right}
.or-money{ margin-right:10px;}
.or-con{overflow: hidden; padding-top: 100px; position: fixed; width: 100%; height: 100%; top: 0; left: 0;}
.blcok{ display: block;}
.none{ display: none;}



.tloader{
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.noMore{ height: 80px; text-align: center; width: 100%; font-size: 22px; line-height: 80px;     color: #7676a1; display: none; }
#noMore_id{ display: block;}

.tloader-msg:after {
    content: "下拉刷新";
}
.state-pulling.enough .tloader-msg:after {
    content: "松开刷新";
}
.state-refreshed .tloader-msg:after {
    content: "刷新成功";
}
.tloader-loading:after {
    content: "正在加载...";
}
.tloader-symbol .tloader-loading:after {
    content: "正在刷新...";
}
.tloader-btn:after {
    /*content: "点击加载更多";*/
}
.tloader {
    position: relative;
    font-size: 22px;
}
.state-pulling {
    overflow-y: hidden !important;
}
.tloader-symbol {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #7676a1;
    text-align: center;
    height: 48px;
    overflow: hidden;
}
.state- .tloader-symbol,
.state-reset .tloader-symbol {
    height: 0;
}
.state-reset .tloader-symbol {
    transition: height 0s 0.2s;
}
.state-loading .tloader-symbol {
    display: none;
}
.tloader-msg {
    line-height: 48px;
}
.state-pulling .tloader-msg i,
.state-reset .tloader-msg i {
    display: inline-block;
    font-size: 2em;
    margin-right: 0.6em;
    vertical-align: middle;
    height: 1em;
    border-left: 1px solid;
    position: relative;
    transition: transform 0.3s ease;
}
.state-pulling .tloader-msg i:before,
.state-reset .tloader-msg i :before,
.state-pulling .tloader-msg i:after,
.state-reset .tloader-msg i :after {
    content: "";
    position: absolute;
    font-size: 0.5em;
    width: 1em;
    bottom: 0px;
    border-top: 1px solid;
}
.state-pulling .tloader-msg i:before,
.state-reset .tloader-msg i :before {
    right: 1px;
    transform: rotate(50deg);
    transform-origin: right;
}
.state-pulling .tloader-msg i:after,
.state-reset .tloader-msg i :after {
    left: 0px;
    transform: rotate(-50deg);
    transform-origin: left;
}
.state-pulling.enough .tloader-msg i {
    transform: rotate(180deg);
}
.state-refreshing .tloader-msg {
    height: 0;
    opacity: 0;
}
.state-refreshed .tloader-msg {
    opacity: 1;
    transition: opacity 1s;
}
.state-refreshed .tloader-msg  i {
    display: inline-block;
    box-sizing: content-box;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 20px;
    height: 1em;
    width: 1em;
    border: 1px solid;
    border-radius: 100%;
    position: relative;
}
.state-refreshed .tloader-msg  i:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 7px;
    height: 11px;
    width: 5px;
    border: solid;
    border-width: 0 1px 1px 0;
    transform: rotate(40deg);
}
.tloader-body {
    margin-top: -1px;
    padding-top: 1px;
}
.state-refreshing .tloader-body {
    transform: translate3d(0, 48px, 0);
    transition: transform 0.2s;
}
.state-refreshed .tloader-body {
    animation: refreshed 0.4s;
}
.state-reset .tloader-body {
    transition: transform 0.2s;
}
@keyframes refreshed {
    0% {
        transform: translate3d(0, 48px, 0);
    }
    50% {
        transform: translate3d(0, 48px, 0);
    }

}
.state-refreshing .tloader-footer {
    display: none;
}
.tloader-footer .tloader-btn {
    color: #484869;
    text-align: center;
    line-height: 48px;
}
.state-loading .tloader-footer .tloader-btn {
    display: none;
}
.tloader-loading {
    display: none;
    text-align: center;
    line-height: 48px;
    color: #7676a1;
}
.tloader-loading .ui-loading {
    font-size: 20px;
    margin-right: 9px;
}
.state-refreshing .tloader-symbol .tloader-loading,
.state-loading .tloader-footer .tloader-loading {
    display: block;
}
@keyframes circle {
    100% {
        transform: rotate(360deg);
    }

}
.ui-loading {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    width: 1em;
    height: 1em;
    border: 2px solid #9494b6;
    border-top-color: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    animation: circle 0.8s infinite linear;
}
#ui-waiting .ui-loading {
    border: 2px solid #fff;
    border-top-color: #9494b6;
}
@keyframes tloader-progressing {
    0% {
        width: 0;
    }
    10% {
        width: 40%;
    }
    20% {
        width: 75%;
    }
    30% {
        width: 95%;
    }

}
@keyframes tloader-progressed {
    0% {
        opacity: 1;
    }

}
.tloader-progress {
    position: relative;
}
.tloader-progress:before {
    content: "";
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background-color: #08bf06;
    width: 99%;
    animation: tloader-progressing 9s ease-out;
}
.ed .tloader-progress:before {
    opacity: 0;
    width: 100%;
    animation: tloader-progressed 1s;
}
