.BMap_noprint,.anchorBL { opacity: 0;}
.map_goperson{ width: 130px; height: 96px; background: #fff; border-radius: 90% 0 0 90%; position: absolute; z-index: 3; bottom: 90px; right: 0; }
.map_goson_con{ width: 72px; height: 72px; background: #eee; border-radius: 100%; background: url(../img/user.png) center no-repeat #eee; position: absolute;
    top: 11px; left: 11px;}

